@charset "utf-8";

* {
	box-sizing:border-box;
	margin: 0;
	padding: 0;
}

body {
	background: #eee;
	width: 1000px;
	margin: 0 auto;
}

header {
	padding: 1em;
	background: #eeb;
}

input[type=text] {
	width: 30em;
	height: 50px;
	padding: 1em;
}

input[type=submit] {
	margin-left: .5em;
	padding: 0 .5em;
}

div#svg-container {
	padding: 2em;
	height: 70vh;
	overflow-y: scroll;
}

footer {
	position: fixed;
	bottom: 0px;
	background: gray;
	margin: 0;
	height: 100px;
	padding: 10px;
	width: 1000px;
}

img#made-with-lisp {
	border-radius: 50%;
}
