@charset "utf-8";

* {
	box-sizing:border-box;
	margin: 0;
	padding: 0;
}

header {
	padding: 1em;
}

input[type=submit] {
	margin-left: .5em;
	padding: 0 .5em;
}

div#svg-container {
	height: 70vh;
	overflow-y: scroll;
}

footer {
	position: sticky;
	bottom: 0px;
	background: gray;
	margin: 0;
	height: 100px;
	padding: 10px;
}

img#made-with-lisp {
	border-radius: 50%;
}
